@font-face {
    font-family: iran;
    src: url(../Fonts/iran-sens/IRANSansWeb_UltraLight.ttf);
}

*{
    direction: rtl;
    font-family: iran;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    margin: 0px;
    background-color: #99A4BE;
}

a{
    text-decoration: none;
}